<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>classApartments</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>List of classApartments</h1>


<tr th:each="classApartment : ${classApartments}">
    <td th:utext="${classApartment.id}">id</td>
    <td th:utext="${classApartment.name}">id</td>
    <td th:utext="${classApartment.placePrice}">id</td>
    <br>
</tr>

<br>
<a href="mainPage.html" th:href="@{/}">back to main page</a>
</body>
</html>