<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>orderForm</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Order form</h1>

<br>
<br>
<p>Ордер в работе. Реализована проверка выбора типа комнаты и класса апартаментов (клиент выбирает сам из справочников)-
    на данный момент предоставляется первый свободный номер в списке имеющихся исходя из этих условий.
    Номер есть - ок, все сохраняется в БД, в противном случае ex.
    Осталось добавить проверку условия по датам и количеству заявленных персон.
    Делаю последовательно, потому как если что-то падает - меньше времени тратится на поиск багов.
    Еще хочу ограничить максимальные даты бронирования и период бронирования,
    простым путем на стороне БД решение пока не нашла.
</p>
<br>
<br>
<form action="#" th:action="@{/createOrders}" th:object="${orderBookingDTO}" method="post">
    <p>date arrival: <input type="date" th:value="*{dateArrival}" th:field="*{dateArrival}"/></p>
    <p>date departure: <input type="date" th:value="*{dateDeparture}" th:field="*{dateDeparture}"/></p>
    <p>quantity persons: <input type="text" th:field="*{quantityPersons}"/></p>

    <p>room type:
        <select th:field="*{roomType}">
            <option th:each="roomType : ${roomTypes}"
                    th:value="${roomType.id}"
                    th:text="${roomType.name}">
            </option>
        </select>
    </p>
    </p>class apartment:
        <select th:field="*{classApartment}">
            <option th:each="classApartment : ${classApartments}"
                th:value="${classApartment.id}"
                th:text="${classApartment.name}">
            </option>
        </select>
    </p>

    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>

<br>
<a href="mainPage.html" th:href="@{/}">back to main page</a>

</body>
