<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>ClientForm</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Client Form</h1>

<form action="#" th:action="@{/createUsers}" th:object="${userDTO}" method="post">
    <p>email: <input type="text" th:field="*{email}"/></p>
    <p>password: <input type="text" th:field="*{password}"/></p>
    <p>first name: <input type="text" th:field="*{firstName}"/></p>
    <p>last name: <input type="text" th:field="*{lastName}"/></p>

    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>

<br>
<a href="mainPage.html" th:href="@{/}">back to main page</a>

</body>
</html>