<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Hotel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Welcome<br>
    List of pages
</h1>

<a href="users.html" th:href="@{/users}">users</a><br>
<a href="userRoles.html" th:href="@{/userRoles}">userRoles</a><br>
<a href="userStatuses.html" th:href="@{/userStatuses}">userStatuses</a><br>
<a href="rooms.html" th:href="@{/rooms}">rooms</a><br>
<a href="roomTypes.html" th:href="@{/roomTypes}">roomTypes</a><br>
<a href="classApartments" th:href="@{/classApartments}">classApartments</a><br>
<a href="orderStatuses" th:href="@{/orderStatuses}">orderStatuses</a><br>
<a href="optionals" th:href="@{/optionals}">optionals</a><br>
<a href="orders.html" th:href="@{/orders}">orders</a><br>
<a href="invoices.html" th:href="@{/invoices}">invoices</a><br>
<br>
<a href="createUsers" th:href="@{/createUsers}">createUsers</a><br>
<a href="createOrders" th:href="@{/createOrders}">createOrders</a><br>

</body>
</html>