<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>userRoles</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table>
    <h1>List of Roles</h1>
    <tr>
        <th>id</th>
        <th>name</th>
    </tr>
    <tbody>
    <tr th:each="role : ${roles}">
        <td th:utext="${role.id}">id</td>
        <td th:utext="${role.name}">id</td>
    </tr>
    </tbody>
</table>
<br>
<a href="mainPage" th:href="@{/}">back to main page</a>
</body>
</html>