<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>rooms</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>List of rooms</h1>


<tr th:each="room : ${rooms}">
    <td th:utext="${room.id}">id</td>
    <td th:utext="${room.name}">id</td>
    <td th:utext="${room.roomPrice}">id</td>
    <td th:utext="${room.roomType.getName()}">id</td>
    <td th:utext="${room.classApartment.getName()}">id</td>
    <br>
</tr>

<br>
<a href="mainPage.html" th:href="@{/}">back to main page</a>
</body>
</html>